h3 {
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    background-color: aquamarine;
    text-align: center;
    font-size: 40px;
    width: 70%;
    border-radius: 10px;
    font-family: "Brush Script MT", cursive; 
}